.form_container {
    display: flex;
    min-width: min-content;
    padding: 25px;
    margin-bottom: 20px;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-width: min-content;
    width: 100%;
    max-width: 700px;
    margin: auto;

    align-items: center;
    justify-items: center;
}

.form_title {
    color: var(--font-color);
}

.inputs_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.inputs_container>div {
    min-width: min-content;
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.form_helpers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-width: min-content;
    
    font-size: 75%;
    color: var(--font-color);
}
.form_helpers p {
    margin: 2px 0 10px 0;
    padding: 0 5px;
}
.form_helpers > p > a {
    text-decoration: underline;
    color: var(--font-color-secondary);
}

/* submit button */
.submit {
    cursor: pointer;

    font-family: Urbanist;
    font-size: 100%;
    color: black;

    border: none;
    border-radius: 6px;
    outline: none;
    margin: 3px;
    padding: 0.8em;

    background-color: #9cbd95;
    transition: 150ms ease;

    min-width: 170px;
    width: 100%;
    max-width: 400px;
    height: 60px;
}

.submit:hover {
    background-color: #a5ce9d;
    transform: scale(0.99);
}

.submit:active {
    background-color: #afdaa7;
    transform: scale(0.97);
}
/* password checks */
.password_checks {
    display: inline-grid;
    grid-template-rows: repeat(5);
    grid-template-columns: 1fr;
    grid-gap: 5px;

    align-items: center;
    justify-items: center;
    text-align: center;

    width: 60%;

    margin-top: 10px;

    transition: 300ms ease;
}
.password_check {
    transition: 150ms ease;
    color: var(--color-error-dark);
    font-size: 80%;
    font-weight: bold;
}
.password_check[data-state="true"] {
    color: var(--color-correct-light);
}