/* files */
.messageFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messageFile {
    margin-top: 10px;
}

/* text file */
pre.messageFile .preHeader {
    display: flex;
    flex-direction: column;
}

pre.messageFile .preHeader .preTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

pre.messageFile .preButtons {
    display: flex;
    align-items: center;
    color: hsl(186, 46%, 63%);
}

pre.messageFile .preButton {
    font-family: var(--symbols-font-family);
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    margin-left: 4px;
    transition: 200ms ease;
}

pre.messageFile .preButton:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

pre.messageFile {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(21, 50, 56);
    max-height: 120px;
    border-radius: 3px;
    padding: 14px 20px;
}

pre.messageFile .divider {
    display: inline-block;
    border-top: 1px solid hsl(190, 45%, 65%);
    width: 100%;
    margin: 14px 0;
}

pre.messageFile .preFileSize {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 4px;
}

/* message file link */
.fileViewContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;

    max-width: 200px;
    padding: 8px 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid hsl(190, 35%, 55%);

    height: 100%;
    border-radius: 4px;
}

.fileImage,
.fileDownload {
    font-family: var(--symbols-font-family);
    font-size: 32px;
    color: var(--font-color);
    text-align: center;
    user-select: none;
}

.fileDownload {
    cursor: pointer;
    transition: 400ms cubic-bezier(0.64, 0.36, 0, 1.1);
}

.fileDownload:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

.fileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6px;
}

.fileInfo .fileName {
    font-size: 16px;
    margin-bottom: 2px;
    color: hsl(188, 69%, 79%);
    text-decoration: underline;
}

.fileInfo .fileName:visited {
    color: hsl(188, 39%, 59%);
    text-decoration: underline;
}

.fileInfo .fileSize {
    font-size: 11px;
}

/* currently attached images/files */
.attachedFilesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 4px 4px 0 0;

    background-color: #1e5a64;

    overflow-y: hidden;
    overflow-x: auto;

    /* max-height: 240px; */
}

.attachedFileViewContainer {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column;

    padding: 10px;

    height: 200px;
    aspect-ratio: 1;

    background-color: #0f2d32;
    border: 1px solid hsl(190, 35%, 55%);
    border-radius: 4px;
}

.attachedFileViewContainer:not(:last-child) {
    margin-right: 25px;
}

.attachedFile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    flex-grow: 1;
}

.attachedImage {
    max-width: 170px;
    max-height: 140px;
    border-radius: 4px;
}

.attachedFileName {
    font-size: 15px;
    color: hsl(188, 69%, 79%);
    text-decoration: underline;
    word-break: break-all;
}

/* attached files button */
.attachmentButtons {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #16434d;
    right: -20px;
    top: -5px;
    border-radius: 5px;
    transition: 150ms ease;
    width: fit-content;
    height: fit-content;
}
.attachmentButtons:hover {
    box-shadow: -2px 2px 5px hsl(190, 31%, 34%);
}

.attachmentButton {
    font-family: var(--symbols-font-family);
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    aspect-ratio: 1;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    width: 34px;
    height: 34px;
    transition: 100ms ease;
}
.attachmentButton:hover {
    background-color: #376b77;
}
.removeAttachmentButton {
    color: var(--color-error-dark);
}
.editAttachmentButton {
    color: var(--font-color);
}
/* Edit Attachment Input Styles */
.editAttachmentFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.editAttachmentInput {
    outline: none;
    border: none;
    background-color: #1e5a64;
    color: var(--font-color);
    font-family: Urbanist;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    width: 100%;
    height: 100%;
    padding: 6px;
    text-decoration: none;
    overflow-x: auto;
    overflow-y: hidden;
}
.editAttachmentSubmit {
    background-color: #1e5a64;
    color: var(--font-color);
    font-family: var(--symbols-font-family);
    font-size: 20px;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 150ms ease;
}
.editAttachmentSubmit:hover {
    background-color: #256d79;
}