/* main chat area */
.main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: 100%;
}

/* message input area */
.messageInputContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: hsl(189, 66%, 11%);

    min-width: max-content;
    max-width: 100%;
    padding: 10px 9px;
}

.messageInputForm {
    display: grid;
    position: relative;
    grid-template-columns: 40px 14fr 40px;
    grid-template-rows: 1fr;
    background-color: #214E56;
    border-radius: 30px;

    padding: 10px;
    width: 100%;
    height: 100%;
}

/* max character limit */
.messageTextContainer {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.messageTextContainer::after {
    content: attr(data-length);
    position: absolute;

    font-family: Urbanist;
    font-size: 16px;
    opacity: 0.8;

    top: 15px;
    right: 10px;
    margin-right: 4px;
}
.messageTextContainer[data-overflow="true"]::after {
    color: var(--color-error-dark);
}





.messageTextArea {
    justify-self: center;
    resize: none;
    overflow: auto;

    font-family: Urbanist;
    font-size: 15px;
    color: var(--font-color);
    line-height: 22px;
    letter-spacing: 0.05px;

    height: 36px;
    max-height: 40vh;
    width: 97%;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 1px 5px;
    margin: 0 5px;
}
.messageTextArea::placeholder {
    content: attr(placeholder);
    color: var(--font-color);
    opacity: 0.6;
    font-style: italic;
}

.contentEditableMessageAreaContainer {

}
.contentEditableMessageArea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    outline: none;
    position: absolute;
    min-height: 65%;
    width: 100%;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 60px;
    line-height: 22px;
    letter-spacing: 0.05px;
}







.fileUpload {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    transition: 150ms ease;
    cursor: pointer;
    user-select: none;

    max-width: 40px;
    aspect-ratio: 1;

    background-color: hsl(190, 60%, 15%);
    font-family: var(--icons-font-family);
    font-size: 150%;
    color: hsl(171, 30%, 61%);

    border: none;
    outline: none;
    border-radius: 100%;
}

.messageInputSubmit {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    user-select: none;
    background-color: hsl(190, 60%, 15%);
    cursor: pointer;
    border: none;
    outline: none;
    font-family: var(--icons-font-family);
    font-size: 150%;
    color: hsl(171, 30%, 61%);

    border-radius: 100%;
    aspect-ratio: 1;
    max-width: 40px;
    transition: 150ms ease;
}

.messageInputSubmit:hover,
.fileUpload:hover {
    transform: translateX(-1px) translateY(-1px);
    box-shadow: 1px 1px 2px 0px black;
}

.messageInputSubmit:active,
.fileUpload:active {
    transform: translateX(0px) translateY(0px) scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

/* message display area */
.msgsLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* scroll down btn */
.scrollContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
    user-select: none;
    bottom: 90px;
    padding: 5px;
    position: absolute;
    background-color: #062b31;
    box-shadow: 0 0 4px 1px black;
    border-radius: 100px;
    opacity: 0.6;
    transition: 150ms ease;
}

@media screen and (max-height: 300px) {
    .scrollContainer {
        display: none;
    }
}

.scrollContainer:hover {
    opacity: 1;
    box-shadow: 0 0 14px 1px #062b31;
}

.scrollContainer:active {
    transform: scale(0.98);
}

.overflowButton {
    font-family: var(--icons-font-family);
    font-size: 30px;
    color: var(--font-color-secondary);
}

/* messages */
.messages {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px 15px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    margin-top: auto;
}

.message {
    position: relative;
    width: 80%;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px 14px 14px 14px;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 0;
}

.messageAuthor {
    margin: 0;
    align-self: center;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 14px;
    align-self: flex-start;
}

/* message body (content + files) */
.messageBody {
    padding: 5px 0;
}

.messageContentContainer {

}

.messageContentMarkdown {
    display: flex;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;

    font-size: 15px;
    line-height: 22px;
}
.messageContentMarkdown p {
    margin: 0;
}
.messageContentCode {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
}




/* extra message information */
.messageInfo {
    display: flex;
    flex-direction: row;
}

.messageInfo>*:not(:last-child) {
    margin-right: 10px;
}

.messageInfoSect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.messageTS {
    font-size: 12px;
}

.messageEdited {
    font-size: 10px;
    opacity: 0.8;
}

.messageOptions {
    font-family: var(--icons-font-family);
    font-size: 18px;
    border: 1px solid;
    border-radius: 100%;
    width: min-content;
    height: min-content;
    align-self: center;
    cursor: pointer;
    user-select: none;
    transition: 150ms ease;
}

.messageOptions:hover {
    opacity: 0.7;
}

.messageOptions:active {
    transform: scale(0.95);
}

/* spacing between messages */
.message[data-sender="true"]+.message[data-sender="false"],
.message[data-sender="false"]+.message[data-sender="true"] {
    margin-top: 30px;
}

.message[data-sender="true"]+.message[data-sender="true"],
.message[data-sender="false"]+.message[data-sender="false"] {
    margin-top: 6px;
}

/* induvidual message bubble styles, based on author */
.message[data-sender="true"] {
    /* also make message bkg color slightly diff than not sender */
    align-self: flex-end;
    border-radius: 14px 14px 1px 14px;
    color: #a5e4ee;
    background-color: hsla(191, 45%, 40%, 0.902);
    margin-left: auto;
}

.message[data-sender="false"] {
    align-self: flex-start;
    border-radius: 14px 14px 14px 1px;
    color: #93d5df;
    background-color: #25616fe6;
    margin-right: auto;
}