/* main chat area */
.main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: 100%;
}

.main.dragOver {
    opacity: 0.9;
    background-color: black;
}

/* message input area */
.messageInputContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    min-width: max-content;
    max-width: 100%;
    padding: 0 10px 10px 10px;
}

.messageInputForm {
    display: flex;
    position: relative;
    background-color: #1e5a64;
    border-radius: 4px;
    padding: 6px 0px;
    width: 100%;
    height: 100%;
}

.messageTextContainer {
    display: flex;
    justify-content: center;
    cursor: text;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--font-color);
    width: 100%;
    min-height: 48px;
}
/* max character limit */
.messageTextContainer[data-overflow="warn"]::after,
.messageTextContainer[data-overflow="error"]::after {
    content: attr(data-length);
    position: absolute;

    font-family: Urbanist;
    font-size: 16px;
    opacity: 0.8;

    top: 8px;
    right: 15px;
    margin-right: 4px;
}
.messageTextContainer[data-overflow="error"]::after {
    color: var(--color-error-dark);
    font-weight: bold;
}

.contentEditableMessageAreaContainer {
    position: relative;
    width: 100%;
    margin: 0 4px;
    height: 24px;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 40vh;
}
.contentEditableMessageArea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    outline: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;

    font-size: 16px;

    line-height: 22px;
    letter-spacing: 0.05px;
    width: 100%;
    height: 100%;
    max-height: 40vh;
    padding: 0 58px;
}
.messageTextContainer[data-length="0"] .contentEditableMessageArea::before {
    content: attr(data-placeholder);
    pointer-events: none;
    user-select: none;
    vertical-align: middle;
    
    color: var(--font-color-secondary);
    opacity: 0.8;
}

/* Message Buttons */
.messageButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    padding: 0 16px 10px 16px;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/* File Button */
.fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    cursor: pointer;
    user-select: none;

    width: 38px;
    height: 38px;
    padding: 4px;

    background-color: hsl(190, 60%, 15%);
    font-family: var(--symbols-font-family);
    font-size: 28px;
    color: hsl(171, 30%, 61%);

    border: none;
    outline: none;
    border-radius: 100%;
    z-index: 2;
}

/* Message Submit Button */
.messageInputSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    cursor: pointer;
    user-select: none;

    width: 38px;
    height: 38px;
    padding: 4px;

    background-color: hsl(190, 60%, 15%);
    font-family: var(--symbols-font-family);
    font-size: 24px;
    color: hsl(171, 30%, 61%);

    border: none;
    outline: none;
    border-radius: 100%;
    z-index: 2;
}

.messageInputSubmit:hover,
.fileUpload:hover {
    transform: translateX(-1px) translateY(-1px);
    box-shadow: 1px 1px 2px 0px black;
}

.messageInputSubmit:active,
.fileUpload:active {
    transform: translateX(0px) translateY(0px) scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

/* message display area */
.msgsLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* scroll down btn */
.scrollContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
    user-select: none;
    bottom: 90px;
    padding: 5px;
    position: absolute;
    background-color: #062b31;
    box-shadow: 0 0 4px 1px black;
    border-radius: 100px;
    opacity: 0.6;
    transition: 150ms ease;
}

@media screen and (max-height: 300px) {
    .scrollContainer {
        display: none;
    }
}

.scrollContainer:hover {
    opacity: 1;
    box-shadow: 0 0 14px 1px #062b31;
}

.scrollContainer:active {
    transform: scale(0.98);
}

.overflowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--symbols-font-family);
    font-size: 32px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    color: var(--font-color-secondary);
}

/* messages */
.messages {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 100%;
    margin-top: auto;
}

/* System Messages */
.systemMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: fit-content;
    user-select: none;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    gap: 15px;

    background-color: hsl(191, 85%, 8%);
    border-radius: 6px;

    color: var(--font-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: opacity 160ms ease-in-out;
}
.systemMessage:hover {
    opacity: 0.95;
}
.systemMessageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.systemMessageIcon {
    font-family: var(--symbols-font-family);
    font-style: normal;
    font-size: 30px;
}
.systemMessageContent b[data-contexttype] {
    text-decoration: underline;
}
.systemMessageContent img {
    vertical-align: middle;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    aspect-ratio: 1;
}
.systemMessageTS {
    min-width: max-content;
    font-size: 12px;
    font-weight: 600;
    color: var(--font-color-secondary);
}
.systemMessageIconSuccess {
    color: #9eff95;
}
.systemMessageIconWarn {
    color: #fbff95;
}
.systemMessageIconErr {
    color: #ffa095;
}
/* Regular Messages */
.message {
    position: relative;
    width: 80%;
    min-width: min-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding: 12px 14px 14px 14px;
    transition: opacity 120ms ease-in-out;
}
.message:hover {
    opacity: 0.95;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 0;
    gap: 20px;
}

.messageAuthor {
    margin: 0;
    align-self: center;
    text-decoration: underline;
    user-select: none;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageContentContainer {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 14px;
    align-self: flex-start;
}

/* message body (content + files) */
.messageBody {
    padding: 5px 0;
    height: 100%;
}

.messageContentMarkdown {
    display: flex;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;

    font-size: 15px;
    line-height: 22px;
}

.messageContentEditable {
    background-color: rgba(9, 56, 67, 0.956);
    border-radius: 6px;
    padding: 10px;
    max-width: 100%;
    max-height: 300px;

    overflow-y: auto;
    overflow-x: hidden;
    outline: none;

    word-break: break-all;
    white-space: pre-wrap;
}
.messageContentEditable mkdn {
    opacity: 0.7;
}
.messageContentEditableInfo {
    display: flex;
    margin-top: 6px;
    font-size: 14px;
}
.messageContentEditableInfo kbd {
    padding: 0 2px;
    cursor: pointer;
    color: rgb(150, 217, 255);
}
.messageContentEditableInfo kbd:hover {
   text-decoration: underline;
}
/* .messageContentCode {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
} */

/* extra message information */
.messageInfo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.messageInfoSect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.messageTS {
    font-size: 12px;
    width: max-content;
}

.messageEdited {
    font-size: 10px;
    opacity: 0.8;
}

.messageOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--symbols-font-family);
    font-size: 20px;
    font-weight: 600;
    width: 22px;
    height: 22px;

    border: 1px solid;
    border-radius: 100%;

    align-self: center;
    cursor: pointer;
    user-select: none;
    transition: 150ms ease;
}

.messageOptions:hover {
    opacity: 0.7;
}

.messageOptions:active {
    transform: scale(0.95);
}

/* spacing between messages */
.message[data-sender="true"]+.message[data-sender="false"],
.message[data-sender="false"]+.message[data-sender="true"] {
    margin-top: 30px;
}

.message[data-sender="true"]+.message[data-sender="true"],
.message[data-sender="false"]+.message[data-sender="false"] {
    margin-top: 6px;
}

/* induvidual message bubble styles, based on author */
.message[data-sender="true"] {
    /* also make message bkg color slightly diff than not sender */
    align-self: flex-end;
    border-radius: 14px 14px 1px 14px;
    color: #a5e4ee;
    background-color: hsla(191, 45%, 40%, 0.902);
    margin-left: auto;
}

.message[data-sender="false"] {
    align-self: flex-start;
    border-radius: 14px 14px 14px 1px;
    color: #93d5df;
    background-color: #25616fe6;
    margin-right: auto;
}