.left {
    display: grid;
    grid-template-columns: 1fr 50px;
    background-color: #215661;

    min-width: 350px;
    max-width: 700px;

    height: calc(100vh - var(--header-height));

    transition: max-width 260ms ease,
        min-width 140ms ease;
}

.arrow {
    display: inline-flex;
    justify-self: center;
    max-height: 70px;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    transition: 200ms ease;
    margin: 0 10px;
    color: var(--font-color);
}

.groupsContainer {
    display: flex;
    flex-direction: column;
    

    height: calc(100vh - var(--header-height));
    width: 100%;
}

.groupTabSwitchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    user-select: none;
    width: 100%;
    height: 40px;
    transition: 100ms ease;
}

.groupTabSwitch {
    width: 100%;
    height: 100%;
    min-height: 40px;
    border: none;
    outline: none;
    font-family: Urbanist;
    color: var(--font-color);
    background-color: rgb(6, 39, 45);
    cursor: pointer;
    transition: 150ms ease;
}

.groupTabSwitch:hover {
    background-color: rgb(10, 58, 67);
}

.groupTabSwitch[data-selected="true"] {
    background-color: #215661;
    color: var(--font-color);
}

/* friends */
.friends {
    overflow-y: auto;
}

.friendsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
    height: min-content;
}

.friendsHeaderForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchFriendsInput {
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    font-family: Urbanist;
    background-color: #062b31;
    color: var(--font-color);
    border: none;
    outline: none;
}

.searchFriendsInput::placeholder {
    color: var(--font-color-secondary);
}

.addFriendsButton {
    font-family: var(--symbols-font-family);
    color: var(--font-color);
    background-color: #062b31;
    border: none;
    outline: none;
    cursor: pointer;
    width: 34px;
    border-radius: 0 4px 4px 0;
    font-size: 100%;
    aspect-ratio: 1;
    transition: 150ms ease;
}

.addFriendsButton:hover {
    background-color: #0f3941;
}

.noFriendsContainer {
    width: 100%;
    text-align: center;
    padding: 20px 8px;
    color: var(--font-color);
    user-select: none;
}
.noFriendsContainer a {
    color: #bdfaff;
    text-decoration: underline;
    cursor: pointer;
}

/* .friendsContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: inherit;
} */

/* groups */
.groups {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 100ms ease;
}

.group {
    display: flex;
    cursor: pointer;
    transition: 150ms ease;

    background-color: rgb(61 115 120);

    border-radius: 6px;
    width: 100%;
    min-height: 70px;
    padding: 7px;
    margin-bottom: 2px;
}

.group:hover:not(.dragging, [data-selected="true"]) {
    background-color: hsl(185, 33%, 40%);
}

.group:active {
    transform: scale(0.98);
}

.group[data-selected="true"] {
    background-color: hsl(185, 33%, 50%);
}

.group.dragging {
    opacity: 0.5;
}

/* group info */
.groupInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.groupTitleContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.groupTitle {
    justify-self: center;
    height: fit-content;
    margin: 2px 0 0 13px;
    min-width: max-content;
}
.groupTitleContainer > svg {
    color: rgb(233, 189, 78);
}

.numOfMembers {
    justify-self: flex-end;
    font-size: 12px;
    margin: 4px 8px 0 0;
}

.groupImage {
    justify-self: flex-start;
    align-self: center;
    border-radius: 100%;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
}

/* No Groups */
.noGroupsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;
    margin-top: 20px;
    color: var(--font-color);
}
.joinGroupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.joinGroup {
    font-family: var(--symbols-font-family);
    color: var(--font-color);
    font-weight: 500;
    font-size: 50px;
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
  
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    margin: 20px 0 30px 0;
    padding: 0;

    cursor: pointer;
    user-select: none;
    transition: 150ms ease; 
}

.joinGroup:hover {
    color: #a6e6df;
    transform: scale(1.1);
    box-shadow: 0 0 16px 1px black;
}
.joinGroup:active {
    color: #8bcec7;
    transform: scale(1.00);
    box-shadow: 0 0 16px black;
}