.left {
    display: grid;
    grid-template-columns: 1fr 50px;
    background-color: #215661;

    min-width: 350px;
    max-width: 700px;

    height: calc(100vh - var(--header-height));

    transition: max-width 260ms ease,
        min-width 140ms ease;
}

.arrow {
    display: inline-flex;
    justify-self: center;
    max-height: 70px;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    transition: 200ms ease;
    margin: 0 10px;
}

.groupsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;

    height: calc(100vh - var(--header-height));
    width: 100%;
}

.groups {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 100ms ease;
}

/* groups */
.group {
    display: flex;
    cursor: pointer;
    transition: 150ms ease;

    background-color: rgb(61 115 120);

    border-radius: 6px;
    width: 100%;
    min-height: 70px;
    padding: 7px;
    margin-bottom: 2px;
}

.group:hover:not(.dragging, [data-selected="true"]) {
    background-color: hsl(185, 33%, 40%);
}

.group:active {
    transform: scale(0.98);
}

.group[data-selected="true"] {
    background-color: hsl(185, 33%, 50%);
}

.group.dragging {
    opacity: 0.5;
}

/* group info */
.groupInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.groupTitle {
    justify-self: center;
    height: fit-content;
    margin: 0 0 0 13px;
    min-width: max-content;
}

.numOfMembers {
    justify-self: flex-end;
    font-size: 12px;
    margin: 4px 8px 0 0;
}

.groupImage {
    justify-self: flex-start;
    align-self: center;
    border-radius: 100%;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
}

/* No Groups */
.noGroupsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;
}

.joinGroup {
    font-family: var(--icons-font-family);
    font-size: 80px;
    width: fit-content;
    height: fit-content;

    color: #062b31;
    border-radius: 100%;
    margin: 0;
    padding: 0;

    transition: 250ms cubic-bezier(1, 0.07, 0.5, 0.99);
    cursor: pointer;
    user-select: none;
}

.joinGroup:hover {
    color: #5899a3;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 5px 5px 16px black;
}