/* Mini Pop-Up Modal */
.miniModalContainer {
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    z-index: 9999;

    min-width: 100px;
    width: auto;
    max-width: 300px;
    min-height: 40px;
    height: auto;
    max-height: 200px;

    border-radius: 10px;
    padding: 8px 10px 8px 8px;
    animation: popUpMiniModal 0.3s cubic-bezier(0.3, 0.02, 0, 1.27) 0s 1 forwards;

    transition: 150ms ease;
}
.miniModalContainer:hover {
    opacity: 0.96;
    transform: scale(1.03);
    box-shadow: 0px 0px 30px hsla(0, 0%, 0%, 0.5);
}
.miniModalContainer:active {
    opacity: 0.95;
    transform: scale(0.99);
}

/* color and icon (icon in pseudo element) */
.miniModalContainer[data-state^='close'] {
    animation: hideMiniModal 0.3s cubic-bezier(0.3, 0.02, 0, 1.27) 0s 1 forwards;
}
.miniModalContainer[data-state="close success"],
.miniModalContainer[data-state="success"] {
    background-color: var(--color-correct-dark);
    color: #143e1b;
}
.miniModalContainer[data-state="close success"]::before,
.miniModalContainer[data-state="success"]::before {
    content: "check_circle";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #4dff95;
    margin-right: 6px;
}

.miniModalContainer[data-state="close warning"],
.miniModalContainer[data-state="warning"] {
    color: #6c6400;
    background-color: var(--color-warning-dark);
}
.miniModalContainer[data-state="close warning"]::before,
.miniModalContainer[data-state="warning"]::before {
    content: "warning";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #DBA800;
    margin-right: 6px;
}

.miniModalContainer[data-state="close error"],
.miniModalContainer[data-state="error"] {
    color: #580101;
    background-color: var(--color-error-light);
}
.miniModalContainer[data-state="close error"]::before,
.miniModalContainer[data-state="error"]::before {
    content: "error";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #ab3535;
    margin-right: 6px;
}

@keyframes popUpMiniModal {
    0% {
        bottom: -60px;
    }
    100% {
        bottom: 40px;
    }
}

@keyframes hideMiniModal {
    0% {
        bottom: 40px;
    }

    99% {
        bottom: -100px;
    }
    100% {
        bottom: -6000px;
    }
}

/* Full Modal Wrapper */
.fullModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    transition: 150ms ease;
    opacity: 1;
}
.fullModalBackground {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: 10000000;
    background-color: #000000;
    opacity: 0.3;
}
.fullModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e4e54;
    width: 60%;
    z-index: 10000001;
    border-radius: 14px;
    padding: 12px;
}
.fullModalTitle {
    font-family: Urbanist;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: var(--font-color);
    opacity: 1;
    user-select: none;
    margin-top: -24px;
}
.fullModalClose {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    z-index: 10000002;
}
.fullModalCloseIcon {
    font-family: var(--symbols-font-family);
    font-size: 22px;
    color: var(--font-color);
    user-select: none;
    cursor: pointer;
    width: fit-content;
}

.fullModalContainer[data-state="close"] {
    opacity: 0;
}
/* .fullModalContainer[data-state="open"] {
    opacity: 0;
} */
.fullModalChildren {
    margin-top: 14px;
    width: 100%;
    height: fit-content;
}

/* Edit Attachment */
.editAttachmentNameContainer {

}
.editAttachmentInput {

}