/* Mini Pop-Up Modal */
.miniModalContainer {
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    z-index: 200;

    min-width: 100px;
    width: auto;
    max-width: 300px;
    min-height: 40px;
    height: auto;
    max-height: 200px;

    border-radius: 10px;
    padding: 8px 10px 8px 8px;
    animation: popUpMiniModal 0.3s cubic-bezier(0.3, 0.02, 0, 1.27) 0s 1 forwards;

    transition: 150ms ease;
}
.miniModalContainer:hover {
    opacity: 0.96;
    transform: scale(1.03);
    box-shadow: 0px 0px 30px hsla(0, 0%, 0%, 0.5);
}
.miniModalContainer:active {
    opacity: 0.95;
    transform: scale(0.99);
}

/* color and icon (icon in pseudo element) */
.miniModalContainer[data-state^='close'] {
    animation: hideMiniModal 0.3s cubic-bezier(0.3, 0.02, 0, 1.27) 0s 1 forwards;
}
.miniModalContainer[data-state="close success"],
.miniModalContainer[data-state="success"] {
    background-color: var(--color-correct-dark);
    color: #143e1b;
}
.miniModalContainer[data-state="close success"]::before,
.miniModalContainer[data-state="success"]::before {
    content: "check_circle";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #4dff95;
    margin-right: 6px;
}

.miniModalContainer[data-state="close warning"],
.miniModalContainer[data-state="warning"] {
    color: #6c6400;
    background-color: var(--color-warning-dark);
}
.miniModalContainer[data-state="close warning"]::before,
.miniModalContainer[data-state="warning"]::before {
    content: "warning";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #DBA800;
    margin-right: 6px;
}

.miniModalContainer[data-state="close error"],
.miniModalContainer[data-state="error"] {
    color: #580101;
    background-color: var(--color-error-light);
}
.miniModalContainer[data-state="close error"]::before,
.miniModalContainer[data-state="error"]::before {
    content: "error";
    font-family: var(--symbols-font-family);
    font-size: 30px;
    color: #ab3535;
    margin-right: 6px;
}

@keyframes popUpMiniModal {
    0% {
        bottom: -60px;
    }
    100% {
        bottom: 40px;
    }
}

@keyframes hideMiniModal {
    0% {
        bottom: 40px;
    }

    99% {
        bottom: -100px;
    }
    100% {
        bottom: -6000px;
    }
}

/* Full Modal Wrapper */
.fullModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 150ms ease;
    user-select: none;
    z-index: 100;
}
.fullModalBackground {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}
.fullModalContent {
    display: flex;
    flex-direction: column;
    background-color: #0e4e54;

    width: 60%;
    max-width: 600px;

    height: max-content;
    
    z-index: 10000001;
    border-radius: 6px;
    padding: 30px;
}
.fullModalClose {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
}
.fullModalCloseIcon {
    font-family: var(--symbols-font-family);
    font-size: 22px;
    color: var(--font-color);
    user-select: none;
    cursor: pointer;
    width: fit-content;
}

.fullModalContainer[data-state="true"] .fullModalContent {
    animation: fullModalOpenContent 0.3s cubic-bezier(0.43, 0.17, 0, 1.06) 0s 1 forwards;
    pointer-events: all;
}
.fullModalContainer[data-state="false"] .fullModalContent {
    animation: fullModalCloseContent 0.3s cubic-bezier(0.43, 0.17, 0, 1.06) 0s 1 forwards;
    pointer-events: none;
}
.fullModalContainer[data-state="true"] .fullModalBackground {
    animation: fullModalOpenBackground 0.3s cubic-bezier(0.43, 0.17, 0, 1.06) 0s 1 forwards;
    pointer-events: all;
}
.fullModalContainer[data-state="false"] .fullModalBackground {
    animation: fullModalCloseBackground 0.3s cubic-bezier(0.43, 0.17, 0, 1.06) 0s 1 forwards;
    pointer-events: none;
}

@keyframes fullModalOpenContent {
    0% {
        transform: scale(0.6) translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
@keyframes fullModalCloseContent {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.6) translateY(100%);
        opacity: 0;
    }
}
@keyframes fullModalOpenBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes fullModalCloseBackground {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.fullModalChildren {
    width: 100%;
    height: 100%;
}

/* Modal Content */
.modalContainer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    font-family: Urbanist;
    color: var(--font-color);

    height: 100%;
    width: 100%;
}
.modalHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.modalTitle {
    font-size: 26px;
    margin-bottom: 8px;
    font-weight: bold;
}
.modalSuccessText {
    color: #9eff95;
}
.modalWarnText {
    color: #fbff95;
}
.modalErrText {
    color: #ffa095;
}

/* View Members */
.modalViewMembersContainer {
    display: flex;
    flex-direction: column;
    background-color: hsl(185, 100%, 8%);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    gap: 4px;

    max-height: 300px;
    overflow-y: auto;
}
.modalViewMembersItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(185, 100%, 12%);
    padding: 10px;
    border-radius: 5px;
}
.modalViewMembersItemHead {
    display: flex;
    align-items: center;
    gap: 10px;
}
.modalViewMembersItemIcon {
    width: 34px;
    border-radius: 50%;
    aspect-ratio: 1;
}
.modalViewMembersItemName {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalViewMembersItemName > svg {
    margin: 0 6px 0 4px;
    color: gold;
}
.modalViewMembersItemName > b[data-contexttype] {
    text-decoration: underline;
}
.modalViewMembersItemMemberStatus {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* modal inputs */
.modalInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.modalInput > label {
    text-align: left;
    margin-bottom: 8px;
}
.modalInput > input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Urbanist;
    color: var(--font-color);
    background-color: hsl(185, 100%, 8%);
}
.modalInput > input[type="text"]::placeholder {
    opacity: 0.6;
    color: var(--font-color);
    font-family: Urbanist;
}

/* Change Icon */
.modalNewIconInput {
    display: none;
}
.modalInputCurrentImageDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100px;
    aspect-ratio: 1;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.448);
}
.modalInputCurrentImageDisplayContainer::after {
    content: "add_photo_alternate";
    font-family: var(--symbols-font-family);
    font-size: 22px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    aspect-ratio: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    top: 6px;
    right: 6px;
    border-radius: 50%;
}
.modalInputCurrentImageDisplayHover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 6px;
    font-weight: bold;
    color: white;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 50%;
    transition: 80ms ease;
}
.modalInputCurrentImageDisplayContainer:hover > 
.modalInputCurrentImageDisplayHover {
    pointer-events: none;
    opacity: 0.8;
}
.modalInputCurrentImageDisplay {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* modal buttons */
.modalButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
@media screen and (max-width: 520px) {
    .modalButtons {
        grid-template-columns: 1fr;
    }
    .fullModalContent {
        width: 100%;
    }
}
.modalButton {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #6bb9c0;
    font-family: Urbanist;
    color: #031011;
    font-weight: bold;
    font-size: medium;
    transition: 150ms ease;
}
.modalButton:hover {
    background-color: hsl(185, 30%, 50%);
}
.modalBtnErr {
    background-color: var(--color-error-dark);
    color: #290000;
}
.modalBtnErr:hover {
    background-color: var(--color-error-light);
}
.modalBtnWarn {
    background-color: var(--color-warning-dark);
    color: #292600;
}
.modalBtnWarn:hover {
    background-color: var(--color-warning-light);
}
.modalBtnSuccess {
    background-color: var(--color-correct-dark);
    color: #022900;
}
.modalBtnSuccess:hover {
    background-color: var(--color-correct-light);
}
.modalMultiSelect {
    margin-bottom: 10px;
}