/* main inputs */
.input {
    font-family: Urbanist;
    font-size: 130%;

    background-color: var(--secondary-color);
    color: var(--font-color);
    border: 2px solid var(--cyan-tone-dark);
    outline: none;

    margin: 3px;
    padding: 0.8em;
    border-radius: 5px;
    transition: 200ms ease;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--secondary-color) inset !important;
    -webkit-text-fill-color: var(--font-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input::placeholder {
    color: var(--font-color);
}

.input:focus {
    border: 2px solid var(--cyan-tone-light);
}

.input[data-state="error"] {
    -webkit-box-shadow: 0 0 0 1000px var(--color-error-light) inset !important;
    -webkit-text-fill-color: var(--color-error-dark) !important;

    background-color: var(--color-error-light) !important;
    border: 2px solid var(--color-error-dark);
    color: var(--color-error-dark);
}
.input[data-state="error"] + a {
    color: var(--color-error-dark);
}

.input[data-state="warning"] {
    -webkit-box-shadow: 0 0 0 1000px var(--color-warning-light) inset !important;
    -webkit-text-fill-color: var(--color-warning-dark) !important;

    background-color: var(--color-warning-light) !important;
    border: 2px solid var(--color-warning-dark);
    color: var(--color-warning-dark);
}
.input[data-state="warning"] + a {
    color: var(--color-warning-dark);
}

.input[data-state="error"]::placeholder,
.input[data-state="warning"]::placeholder {
    color: var(--color-error-dark);
}

/* view password toggle */
.pass_view {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
    font-size: 80%;
    margin-left: -48px;
    color: var(--font-color);
}

.error {
    color: var(--color-error-dark);
    font-size: 90%;
    font-weight: bold;
    margin: 3px 0 5px 0;
    text-align: center;
}