@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

/* theme colors */
/* 
https://coolors.co/0e3b43-22454b-354f52-6f908e-a3bbad-002e2c-357266-84a98c
*/
:root {
    --primary-color: #0E3B43;
    --secondary-color: #285158;

    --cyan-tone-light: #9acec9;
    --cyan-tone-dark: #6baba6;
    --blue-tone-dark: #365d61;

    --green-tone-very-light: #A3BBAD;
    --green-tone-light: #84A98C;
    --green-tone-dark: #357226;
    --green-tone-very-dark: #002E2C;
    
    --color-correct-light: #6ccea5;
    --color-correct-dark: #4CA26F;
    --color-warning-light: #FFF5B3;
    --color-warning-dark: #F3E588;
    --color-error-light: hsl(10, 45%, 65%);
    --color-error-dark: #b94f35;

    --font-color: var(--cyan-tone-light);
    --font-color-secondary: var(--cyan-tone-dark);
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color) !important;
    font-family: Urbanist;
}

* {
    box-sizing: border-box;
}