.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    
    height: 60px;
    color: var(--font-color);
    font-family: Urbanist;
    font-size: 24px;
}
.headerTitle {
    justify-self: center;
    align-self: center;
}
.headerButtons {
    justify-self: end;
    align-self: center;
    padding: 0;
}
.headerButton {

}