.container {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100%;
}

/* scrollbars */
.container *::-webkit-scrollbar {
    width: 7px;
}

.container *::-webkit-scrollbar-track {
    background: hsl(185, 33%, 20%);
    border-radius: 3px;
}

.container *::-webkit-scrollbar-thumb {
    background: hsl(185, 40%, 36%);
    border-radius: 3px;
}

.container *::-webkit-scrollbar-thumb:hover {
    background: hsl(185, 55%, 30%);
}

.container *::-webkit-scrollbar-thumb:active {
    background: hsl(185, 80%, 23%);
}
/* https://openbase.com/js/parallax-js */
